<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
">
<!--    引入shiro文件-->
    <import resource="spring-shiro.xml"></import>

    <!--  开启注解扫描-->
    <context:component-scan base-package="com.huayu.sanqi.service" ></context:component-scan>

    <!--读取properties文件中的内容取值用EL表达式-->
    <context:property-placeholder location="classpath:DB.properties"/>

    <!--配置数据源-->
    <bean  id="dateSource" class="${dataSourcec3p0}">
        <property name="driverClass" value="${driverClass}"></property>
        <property name="jdbcUrl" value="${jdbcUrl}"></property>
        <property name="user" value="${user}"></property>
        <property name="password" value="${password}"></property>
    </bean>

    <!--配置mybatis stting-->
    <bean id="settings" class="org.apache.ibatis.session.Configuration">
        <property name="logImpl" value="org.apache.ibatis.logging.log4j.Log4jImpl"></property><!--配置日志系统-->
    </bean>

    <!--事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dateSource"></property>
    </bean>

    <!--开启注解事务管理器-->
    <tx:annotation-driven proxy-target-class="true" transaction-manager="transactionManager"></tx:annotation-driven>

    <!--Spring 整合mybatis-->
    <!-- Mybatis-plus MybatisSqlSessionFactoryBean  Mybatis SqlSessionFactoryBean-->
    <bean id="sqlSessionFactory" class="com.baomidou.mybatisplus.extension.spring.MybatisSqlSessionFactoryBean">
        <property name="dataSource" ref="dateSource"></property>
        <!--  <property name="configuration" ref="settings"></property>-->
        <property name="typeAliasesPackage" value="com.huayu.sanqi.entity"></property>
        <property name="configLocation" value="classpath:Mybatis.xml"></property>
        <!--插件分页-->
        <property name="plugins">
            <array>
                <bean class="com.github.pagehelper.PageInterceptor">
                    <property name="properties">
                        <props>
                            <prop key="helperDialect">mysql</prop>
                            <prop key="reasonable">true</prop>
                        </props>
                    </property>
                </bean>
            </array>
        </property>
        <!--Mybatis 分页-->
        <!--  <property name="plugins">
              <array>
                  &lt;!&ndash; 分页插件配置 &ndash;&gt;
                  <bean id="paginationInterceptor"
                        class="com.baomidou.mybatisplus.extension.plugins.PaginationInterceptor"/>
                  &lt;!&ndash; 性能拦截器，兼打印sql，不建议生产环境配置&ndash;&gt;
                  <bean id="performanceInterceptor"
                        class="com.baomidou.mybatisplus.extension.plugins.PerformanceInterceptor"/>
              </array>
          </property>-->
    </bean>

    <!--批量扫描Mapper-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.huayu.sanqi.mapper"></property>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
    </bean>

</beans>